<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" prefix="og:https://ogp.me/ns#" lang="{{ site.Language.Lang }}">
  {{- partial "head" (dict "Page" .) -}}

  <body>

    {{- partial "header.html" . -}}

    <main id="main">
      {{ partial "article-main" . }}
    </main>

    {{/* only display copyright footer if it's the home page or a normal page but not the licence */}}

    {{- if and (ne .Layout "licence") (or (eq .Kind "home") (eq .Kind "page")) -}}
      {{- partial "copyright" . -}}
    {{- end -}}

    {{ partial "footer" . }}

  </body>
</html>