<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" prefix="og:https://ogp.me/ns#" lang="{{ .Lang }}">
  {{- partial "head" (dict "Page" .) -}}

  <body>
    {{- partial "hero" . -}}
    {{- partial "header" (dict "Page" . "headerType" "hero") -}}

    <main>
      <article class="article-top">
        {{ .Content }}
      </article>
    </main>

    {{- partial "copyright" . -}}
    {{- partial "footer" . -}}
  </body>
</html>