<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" prefix="og:https://ogp.me/ns#" lang="{{ .Lang }}">
  {{- partial "head" (dict "Page" .) -}}

  <body>
    {{- partial "header" (dict "header" . "headerType" "licence") . -}}

    <main>
      {{ partial "article-main" . }}
    </main>

    {{- partial "footer" . -}}
  </body>
</html>