<div class="blog-preview">
  {{- if .Params.image -}}
    <a class="blog-preview-img" href="{{ .Permalink }}">
      {{ with resources.Get .Params.image }}
        {{ with .Resize "800x webp" }}
          <img src="{{ .Permalink }}" alt="{{ .Params.imageDescription }}" loading="lazy" />
        {{- end -}}
      {{- end -}}
    </a>
  {{- end -}}

  <div class="blog-preview-text">
    <a class="blog-preview-text-meta">
      {{- .Date.Format "2 January 2006" -}}
    </a>

    <a class="brand-text blog-preview-text-headline" href="{{ .Permalink }}">
      {{- .Title -}}
    </a>

    <a class="blog-preview-text-description" href="{{ .Permalink }}">
      {{- .Summary -}}
    </a>

    <a class="blog-preview-button" href="{{ .Permalink }}">Read more</a>
  </div>
</div>