<div class="copyright">
  <span class="copyright-text">
    &copy; {{ site.Author.name }}.
    This article is licensed under
    <a class="copyright-link" href="https://creativecommons.org/licenses/by-nd/4.0" title="View licence"><nobr>CC BY-ND 4.0</nobr></a>.
  </span>
</div>