{{- $headerType := "normal" -}}

{{- $faq := "/faq" -}}

{{- with site.GetPage "/FAQ" -}}
    {{- $faq = .Permalink -}}
{{- end -}}

{{- if isset . "headerType" -}}
    {{- $headerType = .headerType -}}
{{- end -}}

<header class="header-{{ $headerType }} header-modern">
    <div class="header-left">
        <a class="header-icon" href="{{ $faq }}" title="{{ i18n "frequentlyAskedQuestions" }}">
            <i class="bi bi-question-circle"></i>
        </a>
    </div>

    <div class="header-inner">
        {{- $img := (resources.Get ($file := "img/logo/icon-lighter-1000.png")).Resize "x80 webp" -}}
        {{- $alt := index (index (where site.Data.images "file" $file) 0).alt .Page.Lang -}}

        <a title="{{ i18n "home" }}" href="{{ absLangURL "" }}">
            <img class="header-img" src="{{ $img.Permalink }}" alt="{{ $alt }}"/>
        </a>

        <a title="{{ i18n "home" }}" class="header-title" href="{{ absLangURL "" }}">
            {{- site.Title -}}
        </a>
    </div>

    <div class="header-right header-right--apex">
        <a class="header-link"
           title="{{ i18n "readThe" site.Params.blog.title }}"
            href="{{ site.Params.blog.baseURL }}"
        >
            {{- i18n "blog" -}}
        </a>

        {{- if ne $headerType "licence" -}}
            <a class="header-button button" href="{{ site.Params.latestVersionLink }}" title="{{ i18n "adoptLicenceTitle" }}">{{ i18n "adoptLicence" }}</a>
        {{- end -}}
    </div>

    <!--
    <div class="header-nav">
      <a class="header-nav-icon"><i class="bi bi-list"></i></a>
    </div>
    -->

    <details class="header-nav">
        <summary><a class="header-nav-icon"><i class="bi bi-list"></i></a></summary>
        <div class="nav">
            <nav class="nav-inner">
                {{- if ne $headerType "hero" -}}
                    <a class="nav-link" href="{{ site.BaseURL }}" title="{{ i18n "home" }}">
                        <i class="bi bi-house-fill nav-icon"></i> <i class="nav-link-text">{{ i18n "home" }}</i>
                    </a>
                {{- end -}}

                <a class="nav-link" title="{{ i18n "readThe" site.Params.blog.Title }}" href="{{ site.Params.blog.baseURL }}">
                    <i class="fa-solid fa-feather nav-icon"></i> <i class="nav-link-text">{{ i18n "blog" }}</i>
                </a>

                <a class="nav-link" href="{{ $faq }}" title="Frequently Asked Questions">
                    <i class="bi bi-question-circle nav-icon"></i> <i class="nav-link-text">{{ i18n "faq" }}</i>
                </a>

                <a class="nav-link" href="{{ site.Author.mastodon }}" rel="me"
                   title="{{ i18n "mastodonDescription" }}">
                    <i class="bi bi-mastodon nav-icon"></i> <i class="nav-link-text">Mastodon</i>
                </a>

                {{- if ne $headerType "licence" -}}
                    <a class="nav-link button nav-button" href="{{ site.Params.latestVersionLink }}"
                       title="{{ i18n "adoptLicenceTitle" }}">{{ i18n "adoptLicence" }}</a>
                {{- end -}}
            </nav>
        </div>
    </details>
</header>
