{{- $title := .Page.Title -}}

{{- if .Page.Params.tabTitle -}}
  {{- $title = .Page.Params.tabTitle -}}
{{- end -}}

{{- if isset . "tabTitle" -}}
  {{- $title = .tabTitle -}}
{{- end -}}

{{ if eq .Page.Kind "section" -}}
  {{ $title = printf "%s | %s" .Page.Title site.Title -}}
{{ end }}

{{- $descripton := site.Params.Description -}}
{{- $isBlog := false -}}

{{- if .Page.Description -}}
  {{- $descripton = .Page.Description -}}
{{- end -}}

<head>
  <meta charset="utf-8"/>

  {{- if not site.Params.isOnion -}}
    <meta http-equiv="Onion-Location" content="{{ site.Params.onionBaseURL }}/{{ relLangURL .Page.RelPermalink }}"/>
  {{- end -}}

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="author" content="{{ site.Author.name }}"/>
  <meta name="copyright" content="{{ site.Copyright }}">
  <meta name="description" content="{{ $descripton }}"/>
  <meta name="language" content="{{ site.Language.Lang }}">

  <meta property="og:site_name" content="For Good Eyes Only" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $descripton }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <meta property="twitter:title" content="{{ $title }}" />
  <meta property="twitter:description" content="{{ $descripton }}" />

  {{- $imageURL := "" -}}
  {{- $width := 1920 -}}
  {{- $height := 1080 -}}

  {{- if .Page.Params.image -}}
    {{- with resources.Get .Page.Params.image -}}
      {{- with .Resize "1200x png" -}}
        {{- $width = .Width -}}
        {{- $height = .Height -}}
        {{- $imageURL = .Permalink -}}
        <meta name="twitter:card" content="summary_large_image" />
      {{- end -}}
    {{- end -}}

  {{- else if eq .Page.Kind "home" -}}
    {{- with resources.Get "img/promo/promo-mass-surveillance-og.png" -}}
      {{- with .Resize "1200x png" -}}
        {{- $width = .Width -}}
        {{- $height = .Height -}}
        {{- $imageURL = .Permalink -}}
        <meta name="twitter:card" content="summary_large_image" />
      {{- end -}}
    {{- end -}}

  {{- else -}}
    {{- with resources.Get "img/logo/icon-lighter-1000.png" -}}
      {{- with .Resize "400x png" -}}
        {{- $width = .Width -}}
        {{- $height = .Height -}}
        {{- $imageURL = .Permalink -}}
        <meta name="twitter:card" content="summary" />
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if ne $imageURL "" -}}
    <meta property="og:image" content="{{ $imageURL }}" />
    <meta property="og:image:secure_url" content="{{ $imageURL }}" />
    <meta property="twitter:image" content="{{ $imageURL }}" />
    <meta name="thumbnail" content="{{ $imageURL }}">
    <meta property="og:image:width" content="{{ $width }}" />
    <meta property="og:image:height" content="{{ $height }}" />
  {{- end -}}

  <title>{{ $title }}</title>

  <link rel="canonical" href="{{ .Page.Permalink }}"/>
  <link rel="author" href="{{ site.Author.mastodon }}" />
  <link rel="me" href="{{ site.Author.mastodon }}" />

  {{- with site.GetPage "faq" -}}
    <link rel="help" href="{{ .Permalink }}" />
  {{- end -}}

  {{- if and (ne .Layout "licence") (or (eq .Kind "home") (eq .Kind "page")) -}}
    <link rel="license" href="{{ site.Params.licenceLink }}" />
  {{- end -}}

  {{- if .Page.IsTranslated -}}
      {{- range .Page.Translations -}}
        <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
      {{- end -}}
  {{- end -}}

  {{- with resources.Get "img/logo/icon-lighter-512.png" -}}
    {{- with .Resize "64x webp" -}}
      <link href="{{ .Permalink }}" rel="icon" type="image/webp">
    {{- end -}}
  {{- end -}}

  {{- with .Page.OutputFormats.Get "rss" -}}
    {{- printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML -}}
  {{- end -}}

  {{- $fontawesome := resources.Get "css/all.css" -}}
  {{- $bi := resources.Get "css/bi.css" -}}
  {{- $fonts := resources.Get "css/fonts.css" -}}
  {{- $root := resources.Get "css/root.css" -}}
  {{- $404 := resources.Get "css/404.css" -}}
  {{- $fogeye := resources.Get "css/fogeye.css" -}}
  {{- $list := resources.Get "css/list.css" -}}
  {{- $hero := resources.Get "css/hero.css" -}}
  {{- $header := resources.Get "css/header.css" -}}
  {{- $content := resources.Get "css/content.css" -}}
  {{- $mastodon := resources.Get "css/mastodon.css" -}}
  {{- $footer := resources.Get "css/footer.css" -}}
  {{- $responsive := resources.Get "css/responsive.css" -}}

  {{- $style := slice $fontawesome $bi $fonts $root $404 $fogeye $list $hero $header $content $mastodon $footer $responsive  -}}

    {{- range $style -}}
      <link href="{{ .Permalink }}" type="text/css" rel="stylesheet">
    {{- end -}}

  {{- hugo.Generator -}}
</head>
