<div class="hero">
    {{ with resources.Get "img/promo/promo-mass-surveillance-2000-clean.png" }}
      {{ with .Resize "1200x webp" }}
      <img class="hero-bg" id="hero-bg--mass-surveillance" src="{{ .Permalink }}" alt="A wall-mounted grid of surveillance cameras looking to the bottom right." />
      {{ end }}
    {{ end }}

    {{ with resources.Get "img/promo/promo-fakenews-2000-clean.png" }}
      {{ with .Resize "1200x webp" }}
        <img class="hero-bg" id="hero-bg--fake-news" src="{{ .Permalink }}" alt="Donald Trump holding a “speech”." loading="lazy"/>
      {{ end }}
    {{ end }}

    {{ with resources.Get "img/promo/promo-climatechange-2000-clean.png" }}
      {{ with .Resize "1200x webp" }}
        <img class="hero-bg" id="hero-bg--climate-change" src="{{ .Permalink }}" alt="A wildfire." loading="lazy" />
      {{ end }}
    {{ end }}

    <div class="hero-title" id="hero-title-text--mass-surveillance">
      <a class="hero-title-text-top">{{ i18n "massSpying1" }}</a>
      <a class="hero-title-text-bottom">{{ i18n "massSpying2" | safeHTML }}</a>
    </div>

    <div class="hero-title" id="hero-title-text--fake-news">
      <a class="hero-title-text-top">{{ i18n "fakeNews1" }}</a>
      <a class="hero-title-text-bottom">{{ i18n "fakeNews2" }}</a>
    </div>

    <div class="hero-title" id="hero-title-text--climate-change">
      <a class="hero-title-text-top">{{ i18n "climateChange1" }}</a>
      <a class="hero-title-text-bottom">{{ i18n "climateChange2" }}</a>
    </div>

    <div class="hero-title hero-title--placeholder">
      <a class="hero-title-text-top">NOTHING</a>
      <a class="hero-title-text-bottom">TO SEE</a>
    </div>

    <div class="hero-description">
      <a class="hero-description-text">
          {{ i18n "heroDescription" | safeHTML }}
      </a>
    </div>

    <div class="hero-bottom">
        <div class="hero-fogeye">
          {{ with resources.Get "img/logo/icon-lighter-1000.png" }}
            {{ with .Resize "250x webp" }}
              <img class="hero-fogeye-img" src="{{ .Permalink }}" alt="The Logo shows a peace dove’s wing on blue ground" />
            {{ end }}
          {{ end }}

          <div class="hero-fogeye-text">
            <span class="hero-fogeye-text-top">License your code</span>
            <span class="hero-fogeye-text-middle">For Good Eyes Only</span>
            <span class="hero-fogeye-text-bottom">to prevent misuse</span>
          </div>
        </div>

        <div class="scroll-indicator bounce">
            <i class="bi bi-chevron-double-down"></i>
        </div>

        <div class="hero-cta">
          <a class="hero-cta-button" href="{{ site.Params.latestVersionLink }}">{{ i18n "adoptTheLicence" }}</a>
        </div>
    </div>
</div>