{{- range .RegularPages -}}
    {{/* Without this, Hugo will refuse to render the post list... */}}
    <div style="display: none;">
        {{- .Title -}}
    </div>
{{- end -}}

{{/* Render the first post (by date) as "top-summary" */}}
{{- range first 1 .RegularPages -}}
    {{- partial "top-summary" . -}}
{{- end -}}

{{- $remainingPosts := after 1 .RegularPages -}}


{{/* only show the hero section if there are 4 posts or more */}}

{{- if ge (len .RegularPages) 4 -}}
    {{- $remainingPosts = after 4 .RegularPages -}}

    {{/* Render the second post as "top-summary". */}}
    {{/* Will only be shown if the screen is not wide enough for the post-list-hero section */}}

    {{- range after 1 (first 2 .RegularPages) -}}
        {{- partial "top-summary" . -}}
    {{- end -}}

    <div class="post-list-hero">
        <div class="post-list-hero-primary">
            {{/* Render the second post as "top-summary" */}}
            {{/* Will only show if the screen is wide enough for the post-list-hero section */}}
            {{- range after 1 (first 2 .RegularPages) -}}
                {{- partial "summary" . -}}
            {{- end -}}
        </div>

        <div class="post-list-hero-secondary">
            {{/* next 3 posts */}}
            {{- range after 2 (first 5 .RegularPages) -}}
                <div class="post-summary-wrapper">
                    {{ partial "summary" . }}
                </div>
            {{- end -}}
        </div>
    </div>
{{- end -}}

<div class="post-list">
    {{/* Render all the other posts */}}
    {{- range $remainingPosts -}}
        <div class="post-summary-wrapper">
            {{ partial "summary" . }}
        </div>
    {{- end -}}
</div>