{{- $postLink := .Permalink -}}

{{- $additionalClasses := "" -}}

{{- if ge (len .Params.description) 200 -}}
  {{- $additionalClasses = "post-summary-div--horizontal" -}}
{{- end -}}

<!-- to replace the box-shadow with a grey border, add the class post-summary-div-alt -->
<div class="post-summary-div {{ $additionalClasses }}">
  {{- if and false (not .Params.author) -}}
    {{- with resources.Get "img/pixelcode-mastodon-r225.png" -}}
      {{- with .Resize "100x webp" -}}
        <!-- to add a bottom border for the image cut-out, add the class post-summary-author-img-alt -->
        <img src="{{ .Permalink }}" class="post-summary-author-img">
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if .Params.image -}}
    {{- $imageDescription := .Params.imageDescription -}}

    {{- with resources.Get .Params.image -}}
      {{- with .Resize "1200x webp" -}}
        <a class="post-summary-img" href="{{ $postLink }}">
          <img src="{{ .Permalink }}" alt="{{ $imageDescription }}">
        </a>
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <div class="post-summary-text">
    <div class="post-summary-subtitle">
      {{- partial "summary-categories" . -}}
      {{- partial "summary-tags" . -}}
    </div>

    <a class="brand-text post-summary-title" href="{{ $postLink }}">
      {{- .Title | safeHTML -}}
    </a>

    <a class="post-summary-description" href="{{ $postLink }}">
      {{- .Params.description | safeHTML  -}}
    </a>

    {{- partial "summary-meta" . -}}

    {{/*
    <span class="post-summary-meta">
        Written by

        {{ if .Params.author }}
          {{ .Params.author | safeHTML  }}
        {{ else }}
          <a class="post-summary-meta-author fancy-link" href="{{ site.Author.mastodon }}">{{ site.Author.name }}</a>
        {{ end }}

        on

      {{ if eq (.Date | string) .Date }}
          {{ .Date | safeHTML }}
      {{ else }}
          {{ .Date.Format "2 January 2006" }}
      {{ end }}
    </span>*/}}
  </div>
</div>