{{- if .Params.categories -}}
    <span class="post-summary-tags">
        {{- with .Params.categories -}}
            {{- range $index, $category := (. | sort) -}}
                {{- with $.Site.GetPage (printf "/%s/%s" "categories" $category) -}}
                    <a class="button post-summary-category" href="{{ .Permalink }}">{{ $category }}</a>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </span>
{{- end -}}