{{- $postLink := .Permalink -}}

<div class="post-summary-meta">
  {{- with .Date -}}
    <span class="post-summary-meta-container">
      <a class="post-summary-meta-icon"><i class="bi bi-calendar2-day"></i></a>
      <a class="post-summary-meta-label">Published</a>
      <a class="post-summary-meta-value" href="{{ $postLink }}">{{ .Format "2 January 2006" }}</a>
    </span>
  {{- end -}}

  {{- with .ReadingTime -}}
    <span class="post-summary-meta-container">
      <a class="post-summary-meta-icon"><i class="bi bi-clock"></i></a>
      <a class="post-summary-meta-label">Reading time</a>
      <a class="post-summary-meta-value" href="{{ $postLink }}">{{ . }} min</a>
    </span>
  {{- end -}}

  {{- with .WordCount -}}
    <span class="post-summary-meta-container">
      <a class="post-summary-meta-icon"><i class="bi bi-file-earmark-text"></i></a>
      <a class="post-summary-meta-label">Word count</a>
      <a class="post-summary-meta-value" href="{{ $postLink }}">{{ . }}</a>
    </span>
  {{- end -}}
</div>