{{- if .Params.tags -}}
  <span class="post-summary-tags">
    {{- with .Param "tags" -}}
      {{- range $index, $tag := (. | sort) -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" $tag) -}}
          <a class="post-summary-tag" href="{{ .Permalink }}">{{ $tag }}</a>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </span>
{{- end -}}