{{/* Sort terms by whether or not their .Content is empty. Written by GitHub Copilot. */}}
{{- $withContent := slice -}}
{{- $withoutContent := slice -}}

{{- range $term := .Pages -}}
    {{- if .Content -}}
        {{- $withContent = $withContent | append $term -}}
    {{- end -}}
{{- end -}}

{{- range $term := .Pages -}}
    {{- if not .Content -}}
        {{- $withoutContent = $withoutContent | append $term -}}
    {{- end -}}
{{- end -}}

{{- if gt (len $withContent) 0 -}}
    <div class="term-list">
        {{- range $withContent -}}
            <div class="term">
                <a class="term-title" href="{{ .Permalink }}">{{ .Title }}</a>
                <div class="term-summary">{{ .Content }}</div>
                <a class="term-button" href="{{ .Permalink }}">Explore</a>
            </div>
        {{- end -}}
    </div>
{{- end -}}

{{- if gt (len $withoutContent) 0 -}}
    <div class="term-list-min">
        {{- range $withoutContent -}}
            <a class="term term-title" href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
    </div>
{{- end -}}