{{- $postLink := .Permalink -}}

<div class="top-post">
  {{- if .Params.image -}}
    {{- $imageDescription := .Params.imageDescription -}}

    {{- with resources.Get .Params.image -}}
      {{- with .Resize "1200x webp" -}}
        <a class="top-post-summary-img" href="{{ $postLink }}">
          <img src="{{ .Permalink }}" alt="{{ $imageDescription }}"></img>
        </a>
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <div class="top-post-text">
    <div class="post-summary-subtitle">
      {{- partial "summary-categories" . -}}
      {{- partial "summary-tags" . -}}
    </div>

    <a class="brand-text top-post-summary-title" href="{{ $postLink }}">
      {{- .Title | safeHTML -}}
    </a>

    <a class="top-post-summary-description" href="{{ $postLink }}">
      {{- .Params.description | safeHTML  -}}
    </a>

    {{- partial "summary-meta" . -}}
  </div>
</div>