{{/* with .Site.GetPage "blog/a-defence-of-ethical-licencing" */}}
  {{/* .Render "summary-card" */}}
{{/* end */}}

{{- $url := "https://blog.forgoodeyesonly.eu/a-defence-of-ethical-licencing" -}}

<div class="blog-preview">
    <a class="blog-preview-img" href="{{ $url }}">
      {{- with resources.Get "img/logo/logo-1920.png" -}}
        {{- with .Resize "800x webp" -}}
          <img src="{{ .Permalink }}" alt="{{ .Params.imageDescription }}" loading="lazy" />
        {{- end -}}
      {{- end -}}
    </a>

  <div class="blog-preview-text">
    <a class="blog-preview-text-meta">7 June 2022</a>

    <a class="brand-text blog-preview-text-headline" href="{{ $url }}">A Defence of Ethical Licencing</a>

    <a class="blog-preview-text-description" href="{{ $url }}">
      Read here why software freedom should not be equivalent to ignoring our responsibility for the code we write.
    </a>

    <a class="blog-preview-button" href="{{ $url }}">
      {{- i18n "readMore" -}}
    </a>
  </div>
</div>