{{- $licenceVersion := .Get 0 -}}

<span class="licence-v">
  <a class="licence-v-button licence-v-button--pdf" href="{{ .Site.BaseURL }}/{{ $licenceVersion }}/For Good Eyes Only Licence v0.2.pdf">
    <i class="licence-v-button-icon bi bi-file-earmark-pdf-fill"></i>
    <i class="licence-v-button-label">PDF</i>
  </a>

  <a class="licence-v-button licence-v-button--odt" href="{{ .Site.BaseURL }}/{{ $licenceVersion }}/For Good Eyes Only Licence v0.2.odt">
    <i class="licence-v-button-icon bi bi-file-earmark-word-fill"></i>
    <i class="licence-v-button-label">ODT</i>
  </a>

  <a class="licence-v-button licence-v-button--md" href="{{ .Site.BaseURL }}/{{ $licenceVersion }}/For Good Eyes Only Licence v0.2.md">
    <i class="licence-v-button-icon bi bi-markdown-fill"></i>
    <i class="licence-v-button-label">MD</i>
  </a>

  <a class="licence-v-button licence-v-button--txt" href="{{ .Site.BaseURL }}/{{ $licenceVersion }}/For Good Eyes Only Licence v0.2.txt">
    <i class="licence-v-button-icon bi bi-filetype-txt"></i>
    <i class="licence-v-button-label">TXT</i>
  </a>

  <a class="licence-v-button licence-v-button--summary" href="{{ .Site.BaseURL }}/{{ $licenceVersion }}/Summary For Good Eyes Only Licence v0.2.pdf">
    <i class="licence-v-button-icon bi bi-file-earmark-pdf-fill"></i>
    <i class="licence-v-button-label">{{ i18n "summary" }}</i>
  </a>
</span>