<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="{{ .Language }}">
  {{- partial "head" (dict "Page" .) -}}

  <body>
    <div class="e404-bg">
      <div class="e404-inner">

        <div class="e404-title-div">
          <a class="e404-img" href="{{ absLangURL "" }}" title="Back to landing page">
            {{- with resources.Get "img/logo/logo-transparent.png" -}}
              {{- with .Resize (printf "%dx%d webp" .Width .Height) -}}
                <img src="{{ .Permalink }}" alt="{{ site.Params.logoDescription }}">
              {{- end -}}
            {{- end -}}
          </a>

          <span class="e404-title">404</span>
        </div>

        <div class="e404-description-div">
          <div class="e404-description-div-inner">

            <span class="e404-description-top">OH, NO!</span>

            <span class="e404-description-middle">The page you’re looking for is apparently For The Bugs Only. 🤷<br></span>

            <span class="e404-description-bottom">
              Still, you should license your code<br>
              <a class="brand-text" href="{{ absLangURL "" }}">For Good Eyes Only</a><br>
              to prevent misuse, though.
            </span>

            <a class="button e404-description-button" href="{{ site.Params.latestVersionLink }}">Get the Licence</a>

          </div>
        </div>

      </div>
    </div>
  </body>
</html>